$body-font: "Roboto", sans-serif;
$heading-weight: 700;
$body-weight: 400;
$default-font-size: 16px;
$card-radius: 15px;
$body-color: #333333;

$header-padding: 20px 0;

// Header styles
$top-header-bg: #333333;
$top-header-link: #eeeeee;

$main-header-bg: #cccccc;
$main-header-link-bg: #222222;
$main-header-link-color: #cccccc;
$main-header-link-bg-hover: #000000;
$main-header-link-color-hover: #ffffff;
$main-header-link-border: #318abd;

$footer: #0e0b0b;
$footer-top: #878787;
$footer-bottom: #000000;

$alert-red: #8d0e0e;
$white: #ffffff;

// Typography info
$h1: 50px;
$h2: 32px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;